
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ панель</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>
<body>

    <br><center><a href="regis.html"><button>Добавить столы в бронь</button></a></center></div>
    <br><center><a href="del.html"><button>Удалить столы из брони</button></a></center>
    <br><center><a href="show.php"><button>Показать забронированные столы</button></a></center></div>
    <br><center><a href="changeform.html"><button>Внести изменения</button></a></center></div>
    
</body>
</html>