<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/rezervstyle.css">
    <!-- <link rel="stylesheet" type="text/css" href="menurez.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <script src="/static/scripts/icons.js"></script>
<div class="interyer">
    <div class="tavern">
        <img src="/static/vendor/images/reservefon.png" alt="" class="tavern-img">
        <div class="icons">
            <div class="firsttable" >
                <button id ="iconi" class="icondis">1</button>
            </div><div class="secondtable" >
                <button id ="iconi" class="icondis">2</button>
            </div><div class="thirdtable">
                <button id ="iconi" class="icondis">3</button>
            </div><div class="fourthtable">
                <button id ="iconi" class="icondis">4</button>
            </div>
        </div>
    </div>
    
</div>
<div class="interface">
    
    <div class="menu-button">
        <a href="#" class="text-btn">ГЛАВНАЯ СТРАНИЦА</a>
    </div>
    <div class="character">
        <img src="/static/vendor/images/Character/mujichok.png" class="charimg" alt="">
    </div>
</div> 
</body>
</html>