
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>salads</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/salads.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Margarine&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      </head>
      <body>
        <input type="checkbox" id="nav-toggle" hidden>

        <nav class="nav">
            <label for="nav-toggle" class="nav-toggle" onclick></label>
            <h2 class="logo"> 
                
            </h2>
            <ul>
                <li><a href="#1">Салат #1</a>
                <li><a href="#2">Салат #2</a>
                <li><a href="#3">Салат #3 </a>
                <li><a href="#4">Салат #4 </a>
                <li><a href="#5">Салат #5</a>
                <li><a href="#6">Салат #6</a>
            </ul>
        </nav>
      <section> <span class="zavtraki-text"><h1>Закуски</h1> </span></section>
      <section> <a name="1"></a><span><h1>Салат #1</h1> <p>С курицей, кукурузой, авокадо - 17 подков </p> </span></section>
      <section> <a name="2"></a><span><h1>Салат #2</h1> <p>С варёными яйцами, черносливом и красным луком - 18 подков</p> </span></section>
      <section> <a name="3"></a><span><h1>Салат #3</h1> <p>С креветками и редькой - 19 подков </p> </span></section>
      <section> <a name="4"></a><span><h1>Салат #4   </h1> <p>Боул с авокадо и креветками - 23 подковы</p></span></section>
      <section> <a name="5"></a><span><h1>Салат #5</h1> <p>С креветками и рисом - 17 подков</p> </span></section>
      <section> <a name="6"></a><span><h1>Салат #6 </h1> <p>С курицей фасолью и черри - 16 подков</p> </span></section>
      
      
      <section> <span class="zavtraki-text"><h1>Начните день с улыбки :)</h1></span></section>
    </body>
</html>