{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>second</title>
    <link href="{% static 'css/sweets.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Margarine&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
</head>
<body>
<input type="checkbox" id="nav-toggle" hidden>

<nav class="nav">
    <label for="nav-toggle" class="nav-toggle" onclick></label>
    <h2 class="logo">

    </h2>
    <ul>
        <li><a href="#1"> Творожник</a>
        <li><a href="#2"> Павлова</a>
        <li><a href="#3"> Клубничный тарт-татен </a>
        <li><a href="#4">Брауни </a>
        <li><a href="#5">Муссовое пирожное</a>
        <li><a href="#6">Мороженное рожок</a>
        <li><a href="#7">Пончики </a>
        <li><a href="#8">Тарталетки с ягодами</a>
        <li><a href="#9">Чизкейк </a>
        <li><a href="#10">Трайфл</a>
        <li><a href="#11">Торт Павлова с клубникой</a>

    </ul>
</nav>
<section><span class="zavtraki-text"><h1>Дессерты</h1> </span></section>
<section><a name="1"></a><span><h1>Творожник</h1> <p> - 25 подков</p> </span></section>
<section><a name="2"></a><span><h1>Павлова</h1> <p> - 23 подковы</p> </span></section>
<section><a name="3"></a><span><h1>Клубничный тарт-татен </h1> <p>- 50 подков  </p> </span></section>
<section><a name="4"></a><span><h1>Брауни  </h1> <p>- 24 подковы</p></span></section>
<section><a name="5"></a><span><h1>Муссовое пирожное</h1> <p>малиновое - 26 подков</p> </span></section>
<section><a name="6"></a><span><h1>Мороженное рожок</h1> <p>собственного производства - 14 подков </p> </span></section>
<section><a name="7"></a><span><h1>Пончики   </h1> <p>- 10 подков</p> </span></section>
<section><a name="8"></a><span><h1>Тарталетки с ягодами</h1> <p> - 27 подков </p></span></section>
<section><a name="9"></a><span><h1>Чизкейк </h1> <p>Классический - 29 подков</p> </span></section>
<section><a name="10"></a><span><h1>Трайфл</h1> <p>шоколадно-вишнёвый - 18 подков</p> </span></section>
<section><a name="11"></a><span><h1>Торт Павлова с клубникой</h1> <p> - 50 подков</p> </span></section>
<section><span class="zavtraki-text"><h1>Начните день с улыбки :)</h1></span></section>
</body>
</html>