{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>second</title>
    <link href="{% static 'css/zakuski.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Margarine&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
</head>
<body>
<input type="checkbox" id="nav-toggle" hidden>

<nav class="nav">
    <label for="nav-toggle" class="nav-toggle" onclick></label>
    <h2 class="logo">

    </h2>
    <ul>
        <li><a href="#1">Бутерброд #1</a>
        <li><a href="#2">Бутерброд #2</a>
        <li><a href="#3">Бутерброд #3 </a>
        <li><a href="#4">Бутерброд #4 </a>
        <li><a href="#5">Бутерброд #5</a>
        <li><a href="#6">Бутерброд #6</a>
        <li><a href="#7">Бутерброд #7</a>
        <li><a href="#8">Бутерброд #8</a>
        <li><a href="#9">Бутерброд #9</a>
    </ul>
</nav>
<section><span class="zavtraki-text"><h1>Закуски</h1> </span></section>
<section><a name="1"></a><span><h1>Бутерброд #1</h1> <p>Скурицей, ветчиной и черри - 5подков </p> </span></section>
<section><a name="2"></a><span><h1>Бутерброд #2</h1> <p>С творожным сыром, базиликом и помидорами - 6подков</p> </span>
</section>
<section><a name="3"></a><span><h1>Сет </h1> <p>Запечённый картофель, маринованные огурцы, маслиы, черри, рис - 14 подков </p> </span>
</section>
<section><a name="4"></a><span><h1>Бутерброд #3   </h1> <p>С овощами - 5 подков</p></span></section>
<section><a name="5"></a><span><h1>Бутерброд #4</h1> <p>С томатами маслинами и базиликом - 5 подков</p> </span>
</section>
<section><a name="6"></a><span><h1>Бутерброд #5 </h1> <p>С пастой из авокадо и креветками - 9 подков</p> </span>
</section>
<section><a name="7"></a><span><h1>Бутерброд #6  </h1> <p> С фрикасе - 7 подков</p> </span></section>
<section><a name="8"></a><span><h1>Бутерброд #7</h1> <p>С сыром и перцем - 5 подков</p></span></section>
<section><span class="zavtraki-text"><h1>Начните день с улыбки :)</h1></span></section>
</body>
</html>